:root {
  --almost-black: #080708;
  --blue: #3772FF;
  --blue-light: #1cb2f5;
  --almost-blue: #212131;
  --almost-white:#e3e8ed;
  --almost-grey:#bcbfc3;
}

* {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  background-color: var(--almost-white);
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--almost-black);
  text-decoration: none;
}

/* Center the entire app container */
.app {
  text-align: center;
  margin: 0 auto;  /* Add margin for better centering */
  top: 70px;
}

input[type='file'] {
  margin: 0 0 12px;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 22px;
  color: var(--almost-black);
  background: var(--white);
}

input[type='submit'],
button[type='button'] {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  background: var(--blue);
  background-image: linear-gradient(to bottom, var(--blue-light), var(--blue));
  transition: box-shadow .2s ease;
}

input[type='submit']:hover,
button[type='button']:hover {
  box-shadow: inset 0 -25px 25px var(--blue-light);
}

/* nav bar css */
.navigation {
  overflow: hidden;
  position: fixed; 
  top: 0;
  width: 100%;
  font-size: 120%;
  box-shadow: 0px 1.5px red;
  z-index:  2;
  background-color: white;
}

.navigation a,
.navigation p{
  float: left;
  display: block;
  color: var(--almost-black);
  padding: 14px 16px; 
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
}

.navigation a:hover {
  background: var(--blue-light);
  color: var(--almost-black);
}

.navigation .btn {
  background-color: white;
  border-radius: 30px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 8px 16px;
  margin: 7px 10px; 
  float: right;
}

.navigation .btn:hover {
  background-color: rgb(194, 194, 194); 
}

.previous-btn {
  background-color: #04AA6D;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  right: 500px;
  bottom: 0px;
  border-radius: 12px;
}
.previous-btn:hover {
  background-color: #000000;
  color: var(--almost-white);
  
}

/* posts section */
.posts-section {
 text-align: center;
 width: 50vw;
 margin: auto;
 margin-top: 0;
}



.posts-section li:hover {
  background-color: var(--almost-grey);
} 

/* individual post on the main page */
.posts {
  padding: 15px 0px;
  margin: 10px 0px;
  border-radius: 20px;
  text-align: left;
}

.posts:after {
  content: "";
  display: block;
  clear: both;
}

.posts:hover{
  background-color: var(--almost-grey) !important;
}
.posts:hover h3,
.posts:hover img,
.posts:hover a,
.posts:hover p{
  background-color: var(--almost-grey) !important;
}
.posts h3,
.posts p{
  padding: 0 10px;
}
.posts img {
  width: 50vw;  /* Set a maximum width for images */
  height: 60vh; /* Set a maximum height for images */
  object-fit: contain;  /* Maintain aspect ratio and resize to fit within max dimensions */
  padding: 0 20px;
}

/* individual post page */
.post img {
  width: 50vw;  /* Set a maximum width for images */
  height: 60vh; /* Set a maximum height for images */
  object-fit: contain;  /* Maintain aspect ratio and resize to fit within max dimensions */
}

input[type=text] {
  width: 40vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
}

.form-content {
  max-width: 40vw;
  width: 40vw;
  height:auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
}

.card-header{
  text-align: center;
}


.card-title{
  text-align: center;
}


.card-text {
  padding-top: 10px;
  height: auto;
  text-align: justify;
  padding-left: 45%;
  margin-top: 50%;
  align-content: center;
  margin-right: 50%;
}

.app-user {
  padding-bottom: 100px;
  text-align: center;
}


.posts:hover,
.posts:hover h3,
.posts:hover img,
.posts:hover a,
.posts:hover span{
  background-color: var(--almost-grey) !important;
}
.posts h3 {
  padding: 4px 20px;
}
.community-label {
  padding: 0 20px;
  width:auto;
  display: inline;
}
.posts img {
  width: 50vw;  /* Set a maximum width for images */
  height: 60vh; /* Set a maximum height for images */
  object-fit: contain;  /* Maintain aspect ratio and resize to fit within max dimensions */
}

/* individual post page */
.post img {
  width: 50vw;  /* Set a maximum width for images */
  height: 60vh; /* Set a maximum height for images */
  object-fit: contain;  /* Maintain aspect ratio and resize to fit within max dimensions */
}


.button-container {
  display: grid;
  align-items: flex-start;
  margin: 0;
  padding-right: 95%;
  width: 50px;
  height: 100px;
}

.previous-btn-2 {
  background-color: indianred;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  /* margin-bottom: 8px; */
  border-radius: 15px;
  right: 500px;
  text-decoration: indianred;


}


.previous-btn-1:hover, .previous-btn-2:hover {
  background-color: #000000;
  color: var(--almost-white);
  
}

.card-body {
  display: flex;
  align-items: center;
  width: 100%;
  
}

.card-title {
  text-align: center;
}

.card-img-top {
  max-width: 600px;
  max-height: 400px;
  
}

.btn {
  align-items: center;
}
.inline-block{
  display: inline-block;
}

.admin-buttons{
  margin: 10px 0;
}
.comment-section {
  padding-bottom: 50px;
}
.username,
.comment-content{
  margin: 0 3px;
}
.comment {
 text-align: left;
 padding-left: 10vw;
 display: flex;
 margin: 2px 0;
}
.comment-delete {
  display: flex;
  margin: 0 30px;
}
.vote-btn {
  float: left !important;
  display: block;
  padding: 5px 15px !important;
  margin: 0 0 0 10px;
}

.float-right {
  float: right !important;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 19vw;
  background-color: var(--almost-white);
  position: fixed;
  height: 100%;
  overflow: auto;
  float: left;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  border-radius: 5px;
}

.sidebar a:hover:not(.active) {
  background-color: var(--almost-grey);
}

.update-user{
  margin-top: 50px
}
.update-user-button{
  margin-top: 450px;
  padding-right: 100px;
}
.voted {
  /* Customize the appearance for downvoted buttons */
  background: #ff9999 !important; /* Reddish color */
  border-color: #cc0000 !important; /* Red border */
}
.voted:hover {
  box-shadow: inset 0 -25px 25px #cc0000 !important;
}

.comment-input-container {
  display: flex;
}

.comment-input-container input[type="submit"] {
  margin-left: 10px; /* Adjust spacing as needed */
}

.profile-pic{
  max-width:20px;
  max-height: 20px;
  border-radius: 10px;
  border-color: white;
  float: right;
  align-items: flex-end;
}