.comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.voting {
  display: flex;
  align-items: center;
}

.voting form {
  margin-right: 5px;
}

.votes {
  margin-right: 10px;
}

