{% extends 'base.html' %}
{% block content %}
  <div class="bio">
    <div class="card" style="width: 18rem;">
      <img src="uploads\timetable.jpg" class="card-img-top" alt="welp">
      <div class="card-body">
        <p class="card-text">
          <strong>Username: </strong> {{ current_user.username }}<br>
          <strong>Email: </strong> {{ current_user.email }}<br>
          <strong>Date Joined: </strong> {{ current_user.date_joined }}<br>
          {%if update_details%}
            <strong>Name: </strong> {{ update_details.name }}<br>
            <strong>Age: </strong> {{ update_details.age }}<br>
            <strong>About: </strong> {{ update_details.about }}<br>
            <strong>Location: </strong> {{ update_details.location }}<br>
            <strong>Interests: </strong> {{ update_details.interests }}<br>
            <strong>Faculty: </strong> {{ update_details.faculty }}<br>
          {%else%}
            <p>No additional details provided</p>
          {%endif%}
        </p>
        {%if not update_details%}
          <button><a href="{{url_for('user_details', id=current_user.id)}}" class="btn brn-outline btn-primary">Update User</button>
        {%endif%}
        {%if update_details%}
        <button><a href="{{url_for('update_user_details', id=current_user.id)}}" class="btn btn-outline btn-secondary">Update User</button>
        {%endif%}
      </div>
    </div>
  </div>
{%endblock%}



