{% extends 'base.html' %}

{% block content %}
<h1>Report</h1>
<table>
    <tr>
        <th>Report ID</th>
        <th>User</th>
        <th>Post</th>
        <th>About</th>
        <th>Date Reported</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {%for report in reports%}
        <tr>
            <td>{{report.id}}</td>
            <td>{{report.reporter.username}}</td>
            <td><a href="{{url_for('show_post', post_id=report.post.id)}}">{{report.id}}</a></td>
            <td>{{report.about}}</td>
            <td>{{report.date_reported}}</td>
            <td>{{report.status}}</td>
            <td>
                {%if report.status=='Pending'%}
                    <form action="{{url_for('resolve_report', report_id=report.id)}}" method="POST">
                        <button type="submit">Resolve</button>
                    </form>
                {%endif%}
            </td>
        </tr>
    {%endfor%}
</table>
{% endblock %}