<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upvote/Downvote System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <button class="upvote" data-id="{{ post.id }}">Upvote</button> <span>{{ post.upvotes }}</span>
                <button class="downvote" data-id="{{ post.id }}">Downvote</button> <span>{{ post.downvotes }}</span>
            </li>
        {% endfor %}
    </ul>

    <script>
        $(document).ready(function() {
            $('.upvote').click(function() {
                var post_id = $(this).data('id');
                var button = $(this);
                $.post('/upvote/' + post_id, function(data) {
                    if (data.success) {
                        button.next('span').text(data.upvotes);
                    }
                });
            });

            $('.downvote').click(function() {
                var post_id = $(this).data('id');
                var button = $(this);
                $.post('/downvote/' + post_id, function(data) {
                    if (data.success) {
                        button.next('span').text(data.downvotes);
                    }
                });
            });
        });
    </script>
</body>
</html>
