<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginreg.css')}}">
    <title>Login Page</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="app">
        <a href="{{ url_for('index') }}" class="previous-btn round"> &laquo; Home </a>

        <h1>Change Password Page</h1><br>
        <form method="POST" action="">
        <br>
            {{ form.password.label }}
            {{ form.password }}
            {{ form.password(size=32) }}
        <br>
            {{ form.confirm_password.label }}
            {{ form.confirm_password }}
            {{ form.confirm_password(size=32) }}
        <br>
        {{ form.submit }}
        </form>
        <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="error"> 
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <br> -->

    </div>
</body>
</html>