
{% extends 'base.html' %}

{% block content %}
  <div class="app">
    r/{{community.name}}

    {%if community.comm_profile_pic%}
      <img class="comm-profile-pic"  src="{{url_for('static', filename='comm_profile_pics/' + community.comm_profile_pic) }}" alt="Community Profile Picture">
    {%endif%}
    <p>{{community.about}}</p>
    <div class="update-user-button">
      <button><a href="{{url_for('updatecomm', id=community.id)}}" class="btn btn-primary">Update Community</button>
    
    <div class="posts-section">
      {% for post in posts %}
      <div class="posts">      
        <a href="{{ url_for('show_post', post_id=post.id) }}">  
            <h3>{{post.title}}</h3>
            <!-- if got img show img else the desc -->
            {% if post.image_filename %} 
                <img src="{{ url_for('serve_files', filename=post.image_filename) }}">
              {% else %}
                <p>{{ post.content }}</p>
            {% endif %}
        </a>
      </div>
      <hr>
      {% endfor %}
      </div>
  </div>
{% endblock %}
