
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Uploads</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<div class="navigation">
    <a href="/">Home</a>
    {% if current_user.is_authenticated %}
      {% if current_user.id == 5 or current_user.id == 6 %}
        <a href="{{url_for('admin')}}">Admin Page</a><br>
      {% endif %}
    <a href="{{url_for('dashboard')}}">Dashboard</a>
    <a href="{{url_for('logout')}}">Log Out</a>
    {% else %}
    <a href="{{url_for('register')}}">Sign up</a>
    <a href="{{url_for('login')}}">Log In</a>
    {% endif %}
</div>

  <div class="app">
    <div class="form-section">

      {% if current_user.id == 5 or current_user.id == 6 %}
        <h2>Administrator</h2>
      {% endif %}

      <h2>{{current_user.username}}</h2>
    
      <h2>Create a post</h2>

      <form action="/upload" method="POST" enctype="multipart/form-data">
        <textarea name="content" rows="4" cols="50"></textarea><br>
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>

  </div>
</body>
</html>
