
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create post</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  
  <script>
    function validateForm() {
      var x = document.forms["post-form"]["form-title"].value;
      if (x == "" || x == null) {
        alert("Title must be filled out");
        return false;
      }
    }
    </script>

</head>
<body>
<!-- nav bar -->
<div class="navigation">
    <a href="/">Home</a>
    {% if current_user.is_authenticated %}
        {% if current_user.id == 1 or current_user.id == 6 %}
        <a href="{{url_for('admin')}}">Admin Page</a>
        {% endif %}
    <a href="{{url_for('dashboard')}}">Dashboard</a>
    <a href="{{url_for('logout')}}">Log Out</a>
    {% else %}
    <a href="{{url_for('register')}}">Sign up</a>
    <a href="{{url_for('login')}}">Log In</a>
    {% endif %}
</div>

  <div class="app">
    <!--  create form  -->
    <div class="form-section">

      {% if current_user.id == 5 or current_user.id == 6 %}
        <h2>Administrator</h2>
      {% endif %}
    
      <h2>Create a community</h2>

      <form action="/upload" name="post-form" method="POST" onsubmit="return validateForm()">
        <input type="hidden" name="item" value="community">
        <input type="text" name="name" placeholder="Name"><br>
        <textarea type="text" name="about"  class="form-content" placeholder="About (you can change this later)"></textarea><br>
        <input type="submit" value="Upload">
      </form>

  </div>
{% endblock %}
