
{% extends 'base.html' %}

  {% block scripts %}
  <script>
    function validateForm() {
      var x = document.forms["post-form"]["form-title"].value;
      if (x == "" || x == null) {
        alert("Title must be filled out");
        return false;
      }
    }
    </script>
    {% endblock %}
{% block content %}
  <div class="app">
    <!--  create form  -->
    <div class="form-section">

      {% if current_user.id == 5 or current_user.id == 6 %}
        <h2>Administrator</h2>
      {% endif %}

      <h2>{{current_user.username}}</h2>
    
      <h2>Create a post</h2>

      <form action="/upload" name="post-form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="item" value="post" >
        <input type="text" name="title" placeholder="Title" required><br>
        <textarea type="text" name="content"  class="form-content" placeholder="Content"></textarea><br>
        <select name="community_id" required>
          {% for community in communities %}
            <option value="{{community.id}}">{{community.name}}</option>
          {% endfor %}
        </select>
        <input type="file" name="file">

        <input type="submit" value="Upload">
      </form>

  </div>
{% endblock %}
