{% extends 'base.html' %}
{% block content %}
  <div class="app">
    <h1>Dashboard Page</h1><br>
    <div class="app-user">
    <h1>Hello, {{current_user.username}} you are logged in</h1>
    </div>

  <div class="bio">
    <div class="card" style="width: 18rem;">
      <img src="uploads\timetable.jpg" class="card-img-top" alt="welp">
      <div class="card-body">
        <p class="card-text">
          <strong>Username: </strong> {{current_user.username}}<br>
          <strong>Email: </strong> {{current_user.email}}<br>
          <strong>Date Joined: </strong> {{current_user.date_joined}}<br>
          <strong>Name: </strong> {{user_details.name }}<br>
          <strong>Age: </strong> {{user_details.age }}<br>
          <strong>About: </strong> {{user_details.about }}<br>
          <strong>Location: </strong> {{user_details.location  }}<br>
          <strong>Interests: </strong> {{user_details.interests  }}<br>
          <strong>Faculty: </strong> {{user_details.faculty }}<br>

        </p>
        <button><a href="{{url_for('user_details')}}" class="btn btn-primary">Update User</button>
      </div>
    </div>
  </div>


  <div class="user-posts">
    <div class="app">
      <div class="posts-section">
          {% for post in posts %}
        <div class="posts">      
          <a href="{{ url_for('show_post', post_id=post.id) }}">  
              <h3>{{post.title}}</h3> <br>
              {% if post.image_filename %}
                <!-- <div style="display: flex; flex-direction: column;"> -->
                  <img src="{{ url_for('serve_files', filename=post.image_filename) }}">
                <!-- </div> -->
                {% else %}
                  <p>{{ post.content }}</p>
              {% endif %}
          </a>
        </div>
          {% endfor %}
        </div>
    </div>
  </div>
  </div>
{% endblock %}