
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MMU Reddit</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<div class="navigation">
    <a href="/">Home</a>
    {% if current_user.is_authenticated %}
      {% if current_user.id == 5 or current_user.id == 6 %}
        <a href="{{url_for('admin')}}">Admin Page</a>
      {% endif %}
    <a href="{{url_for('dashboard')}}">Dashboard</a>
    <a href="{{url_for('logout')}}">Log Out</a>
    {% else %}
    <a href="{{url_for('register')}}">Sign up</a>
    <a href="{{url_for('login')}}">Log In</a>
    {% endif %}
    <a class="btn" href="/create"> + Create</a>
</div>

  <div class="app">
    <div class="posts-section">
      {% for post in posts %}
      <div class="posts">      
        <a href="{{ url_for('show_post', post_id=post.id) }}">  
            <h3>{{post.title}}</h3> <br>
            {% if post.image_filename %}
              <!-- <div style="display: flex; flex-direction: column;"> -->
                <img src="{{ url_for('serve_files', filename=post.image_filename) }}">
              <!-- </div> -->
              {% else %}
                {{ post.content }}
            {% endif %}
        </a>
      </div>
      {% endfor %}
      </div>
  </div>
</body>
</html>
