<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginreg.css')}}">
    <title>Login Page</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="app">
        <a href="{{ url_for('index') }}" class="previous-btn round"> &laquo; Previous </a>

        <h1>Login Page</h1><br>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
            {{ form.username.label }}
            {{ form.username }} 
        <br>
            {{ form.password.label }}
            {{ form.password }}

        <br>
        <a href="{{url_for('reset_request')}}">'Forgot Password?</a>
        </form>
        <br>
        {{ form.submit }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="error"> 
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <br>
        <a class="reglink" href="{{ url_for('register') }}">Don't have an account? Sign up here</a>

    </div>
</body>
</html>