{% extends 'base.html' %}

  {% block content %}
    <div class="app">
        <div class="post-container">
        <div class="posts-section">
            <!-- display content -->
            <div class="post">
                <a href="{{ url_for('show_community', community_name=post.community.name) }}" class="community-label"> 
                    r/{{ post.community.name}}
                </a>
                <h2>{{post.title}}</h2> <br>
                <p>{{ post.content }}</p> <br>
                {% if post.anonymous == 1 %}
                    <p>by: Anonymous</p>
                    {% else %}
                    <!-- <p>by: <a href="{{url_for('account', username=post.poster.username)}}" class="link-to-user-profile" >{{post.poster.username}}</a> </p> -->
                    <p>by: {{post.poster.username}} </p>
                {% endif %}
                <p>{{ post.date_added.strftime('%d-%m-%Y %H:%M') }}</p>  <!--display date posted--> <br>
                
                <button><a href="{{url_for('report_post', post_id=post.id)}}">Report Post</a></button><br>
                
            <!-- check if theres img -->
            {% if post.image_filename %} 
                <img src="{{ url_for('serve_files', filename=post.image_filename) }}">
                
            </div>
            {% endif %}
            <div class="clear"></div>  
            <div class="vote-section">
                <button class="vote-btn {{'voted' if vote_dict.get(post.id) == 'upvote'}}" data-vote-type="upvote" type="button" data-post-id="{{ post.id }}" onclick="upvotePost(this)">Upvote</button>
                <p><span class="vote-btn" id="vote-count-{{ post.id }}">{{ post.votes }}</span></p>
                <button class="vote-btn {{ 'voted' if vote_dict.get(post.id) == 'downvote' }} " data-vote-type="downvote" type="button" data-post-id="{{ post.id }}" onclick="downvotePost(this)">Downvote</button>
            </div> 
        </div>
    </div>
            <!-- delete button -->
            {% if current_user.is_authenticated %}
            {% if current_user.id == 1 or current_user.id==post.poster_id  %}
            <form action="{{ url_for('delete') }}" method="POST" class="inline-block admin-buttons">
                <input type="hidden" name="item" value="post" >
                <input type="hidden" name="post_id" value="{{ post.id }}"> 
                <button type="submit">Delete</button>
                {% endif %}
            </form>
            {% endif %}

            <!-- edit button -->
            {% if current_user.is_authenticated and current_user.id==post.poster_id %}
                <input type="hidden" name="post_id" value="{{ post.id }}">  
                <form action="{{ url_for('edit_post', post_id=post.id) }}" method="POST" class="inline-block admin-buttons">
                <button type="submit">Edit</button>
                </form>
            {% endif %}
            
            <div class="comment-section">   
               <div class="word-comment"><b>Comment section</b></div> 
                <br>
                <br>
                <form action="/upload" method="POST">
                    <input type="hidden" name="item" value="comment">
                    <input type="hidden" name="post_id" value="{{ post.id }}">  
                    <div class="comment-input-container">
                        <input type="text" name="comment-content" placeholder="Enter comment..."><br>
                        <input type="submit" value="Comment"> <br>
                    </div>
                    <label for="anonymous"> Anonymous?</label>
                    <input type="checkbox" name="anonymous" value=1>
                </form>
                

                <div class="comments">
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="comment-vote-section">
                                <button class="{{'voted' if vote_dict_comment.get(comment.id) == 'upvote'}}" data-vote-type="upvote" type="button" data-comment-id="{{ comment.id }}" onclick="upvoteComment(this)">Upvote</button>
                                <p><span class="vote-btn" id="vote-count-comment-{{ comment.id }}">{{ comment.votes }}</span></p>
                                <button class="{{ 'voted' if vote_dict_comment.get(comment.id) == 'downvote' }} " data-vote-type="downvote" type="button" data-comment-id="{{ comment.id }}" onclick="downvoteComment(this)">Downvote</button>
                            </div>
                            <div class="comment-part">
                            {% if comment.anonymous == 1 %}
                                <div class="username"><b>Anonymous</b></div>
                                {% else %}
                                <div class="username"><b>{{comment.poster.username}}</b></div>
                            {% endif %}
                            <div>{{comment.date_added}}</div>
                            <div class="comment-content">{{comment.comment_content}}</div><br>
                        </div
                           <span class="date">{{ post.date_added.strftime('%d-%m-%Y    %H:%M') }}</span>    <!--display date posted comment -->
                            {% if current_user.is_authenticated %}
                                {% if current_user.id==comment.poster_id or current_user.admin == 1 %}
                                    <div class="comment-delete">
                                        <form action="{{ url_for('delete')}}" method="POST" class="float-right">
                                            <input type="hidden" name="item" value="comment" >
                                            <input type="hidden" name="post_id" value="{{ post.id }}"> 
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}"> 
                                            <button class="float-right" type="submit">Delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>



        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
{% block scriptsrc %}
    {{url_for('static', filename='voting_logic.js')}}
{% endblock %}