<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="navigation">
        <a href="/">Home</a>
        {% if current_user.is_authenticated %}
          {% if current_user.id == 5 or current_user.id == 6 %}
            <a href="{{url_for('admin')}}">Admin Page</a>
          {% endif %}
        <a href="{{url_for('dashboard')}}">Dashboard</a>
        <a href="{{url_for('logout')}}">Log Out</a>
        {% else %}
        <a href="{{url_for('register')}}">Sign up</a>
        <a href="{{url_for('login')}}">Log In</a>
        {% endif %}
    </div>
    

    <div class="app">

        <!-- button to go back -->
        <a href="{{ url_for('index') }}" class="previous-btn round"> &laquo; Previous </a>
 
        <!-- display content -->
        <div class="post"></div>
            <h2>{{post.title}}</h2> <br>
            <p>{{ post.content }}</p>

        <!-- check if theres img -->
        {% if post.image_filename %} 
            <img src="{{ url_for('serve_files', filename=post.image_filename) }}">
        </div>
        {% endif %}
        
        <div class="comment-section">
            <h1>Comment section</h1>
            <form action="{{ url_for('user_comment') }}" method="POST">
                <textarea name="username" rows="4" cols="50" placeholder="Enter username..."></textarea><br>
                <textarea name="comment-content" rows="4" cols="50" placeholder="Enter comment..."></textarea><br>
                <input type="submit" value="Save">
            </form>

            <div class="comments">
                    {% for comment in comments %}
                    <div>
                        <div class="info">
                            <div class="username">{{comment.username}}</div>
                            <div>{{text.date_added}}</div>
                            <div class="comment-content">{{comment.comment_content}}</div><br>
                        </div>
                    </div>
                    {% endfor %}
        </div>

        <!-- delete button -->
        {% if current_user.is_authenticated %}
            {% if current_user.id == 5 or current_user.id == 6 %}
        
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                <button type="submit">Delete</button>
                {% endif %}
        {% endif %}
        </form>
    </div>
</body>
</html>