{% extends 'base.html' %}

  {% block content %}
    <div class="app">
        <div class="posts-section">
            <!-- button to go back -->
            <a href="javascript:history.back()" class="previous-btn round"> &laquo; Previous </a>
    
            <!-- display content -->
            <div class="post">
                <a href="{{ url_for('show_community', community_name=post.community.name) }}" class="community-label"> 
                    r/{{ post.community.name}}
                </a>
                <h2>{{post.title}}</h2> <br>
                <p>{{ post.content }}</p> <br>
                {% if post.anonymous == 1 %}
                    <p>by: Anonymous</p>
                    {% else %}
                    <p>by: {{post.poster.username}}</p>
                {% endif %}
                
            <!-- check if theres img -->
            {% if post.image_filename %} 
                <img src="{{ url_for('serve_files', filename=post.image_filename) }}">
            </div>
            {% endif %}

            <!-- delete button -->
            {% if current_user.is_authenticated %}
            {% if current_user.id == 1 or current_user.id==post.poster_id  %}
            <form action="{{ url_for('delete') }}" method="POST" class="inline-block admin-buttons">
                <input type="hidden" name="item" value="post" >
                <input type="hidden" name="post_id" value="{{ post.id }}"> 
                <button type="submit">Delete</button>
                {% endif %}
            </form>
            {% endif %}

            <!-- edit button -->
            {% if current_user.is_authenticated and current_user.id==post.poster_id %}
                <input type="hidden" name="post_id" value="{{ post.id }}">  
                <form action="{{ url_for('edit_post', post_id=post.id) }}" method="POST" class="inline-block admin-buttons">
                <button type="submit">Edit</button>
                </form>
            {% endif %}
            
            <div class="comment-section">
                <br>
                <b>Comment section</b>

                <form action="/upload" method="POST">
                    <input type="hidden" name="item" value="comment">
                    <input type="hidden" name="post_id" value="{{ post.id }}">  
                    <div class="comment-input-container">
                        <input type="text" name="comment-content" placeholder="Enter comment..."><br>
                        <input type="submit" value="Comment"> <br>
                    </div>
                    <label for="anonymous"> Anonymous?</label>
                    <input type="checkbox" name="anonymous" value=1>
                </form>
                

                <div class="comments">
                    {% for comment in comments %}
                        <div class="comment">
                            {% if comment.anonymous == 1 %}
                                <div class="username"><b>Anonymous</b></div>
                                {% else %}
                                <div class="username"><b>{{comment.poster.username}}</b></div>
                            {% endif %}
                            <div>{{comment.date_added}}</div>
                            <div class="comment-content">{{comment.comment_content}}</div><br>
                            {% if current_user.is_authenticated %}
                                {% if current_user.id==comment.poster_id  %}
                                    <div class="comment-delete">
                                        <form action="{{ url_for('delete')}}" method="POST" class="float-right">
                                            <input type="hidden" name="item" value="comment" >
                                            <input type="hidden" name="post_id" value="{{ post.id }}"> 
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}"> 
                                            <button class="float-right" type="submit">Delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>



        </div>
    </div>
{% endblock %}