<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginreg.css') }}">
    <title>Register Page</title>
</head>
<body>
    <div class="app">
        <a href="{{ url_for('index') }}" class="previous-btn round"> &laquo; Home </a>

        <h1>Register Page</h1><br>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.email.label }}
                {{ form.email }}
                {% for error in form.email.errors %}
                    <span style="color:red">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.username.label }}
                {{ form.username }}
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
</body>
</html>
