!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginreg.css')}}">
    <title>Reset Password Page</title>
</head>
<body>
    <div class="app">
        <a href="{{ url_for('index') }}" class="previous-btn round"> &laquo; Previous </a>

        <h1>Reset Password Page</h1><br>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.password.label(class='form-control-label') }}
                {% if form.password.errors %}
                    {{ form.password(class='form-control form-control-lg') }}
                    <div class="invalid feedback">
                        {%for errors in form.password.errors%}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div>
                {%else%}     
                    {{form.password(class='form-control form-control-lg')}}
                {%endif%}
            </div>     
            <div class="form-group">
                {{ form.confirm_password.label(class='form-control-label') }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class='form-control form-control-lg') }}
                    <div class="invalid feedback">
                        {%for errors in form.confirm_password.errors%}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div>
                {%else%}     
                    {{form.password(class='form-control form-control-lg')}}
                {%endif%}
            </div>      
            </fieldset>
        <br>
        {{ form.submit }}
    </div>
        </form>
</body>
</html>