!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginreg.css')}}">
    <title>Reset Password Page</title>
</head>
<body>
    <div class="app">
        <a href="{{ url_for('index') }}" class="previous-btn round"> &laquo; Previous </a>

        <h1>Reset Password Page</h1><br>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
        <div>
            {{ form.password.label }}
            {{ form.password }}
        </form>
        <br>
        {{ form.submit }}
    </div>
</body>
</html>