{% extends 'base.html' %}
{% block content %}

<div class="app">
  {%with messages=get_flashed_messages(with_categories=true)%}
    {%if messages%}
      <ul class='flashes'>
        {%for category, message in messages%}
          <li class="{{category}}">{{message}}</li>
        {%endfor%}
      </ul>
    {%endif%}
  {%endwith%}


<div class="form-section">
  <h2>Update Community</h2>
  <form action="{{ url_for('updatecomm', id=community.id) }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
      {{ form.about.label }}<br>
      {{ form.about(size=40) }}<br>
      {% for error in form.about.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
    </div>
    <div>
      {{ form.comm_profile_pic.label }}<br>
      {{ form.comm_profile_pic }}<br>
      {% for error in form.comm_profile_pic.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
    </div>
    <div>
      {{ form.submit() }}
    </div>
  </form>
</div>
</div>
{% endblock %}

