{% extends 'base.html' %}
{% block content %}
  <div class="update-user">
    <form method="POST" action="{{ url_for('update_user_details', id=current_user.id) }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name }}
        </div>
        <div>
            {{ form.age.label }}
            {{ form.age }}
        </div>
        <div>
            {{ form.about.label }}
            {{ form.about }}
        </div>
        <div>
            {{ form.location.label }}
            {{ form.location }}
        </div>
        <div>
            {{ form.interests.label }}
            {{ form.interests }}
        </div>
        <div>
            {{ form.faculty.label }}
            {{ form.faculty }}
        </div>
        <div>
            {{ form.submit }}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="error"> 
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </form>
  </div>
{% endblock %}