<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Details Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

</head>
<body>
  <div class="navigation">
    <a href="/">Home</a>
    {% if current_user.is_authenticated %}
        {% if current_user.id == 1 or current_user.id == 6 %}
            <a href="{{url_for('admin')}}">Admin Page</a>
        {% endif %}
        <a href="{{url_for('dashboard')}}">Dashboard</a>
        <a href="{{url_for('user_details')}}">User</a>
        <a href="{{url_for('logout')}}">Log Out</a>
        {% else %}
        <a href="{{url_for('register')}}">Sign up</a>
        <a href="{{url_for('login')}}">Log In</a>
        {% endif %}
        <a class="btn" href="/create"> + Create</a>
  </div>
  <div class="app">
    <h1>User Details Page</h1><br>
    <div class="app-user">
    <h1>Yo, {{current_user.username}} customize your user details man, please</h1>
    </div>
  </div>

  <div class="bio">
    <div class="card" style="width: 18rem;">
      <img src="uploads\timetable.jpg" class="card-img-top" alt="welp">
      <div class="card-body">
        <h5 class="card-title">{{current_user.username}}</h5>
        <p class="card-text">
          <strong>Name: </strong> {{update.name}}<br>
          <strong>Age: </strong> {{update.age}}<br>
          <strong>Email: </strong> {{current_user.email}}<br>
          <strong>About: </strong> {{update.about}}<br>
          <strong>Location: </strong> {{update.location}}<br>
          <strong>Interests: </strong> {{update.interests}}<br>
          <strong>Faculty: </strong> {{update.faculty}}<br>
          <strong>Date Joined: </strong> {{user.date_joined}}<br>
        </p>
        <button a href="{{url_for('update_user_details')}}" class="btn btn-outline-primary">Update User</button>
      </div>
    </div>
  </div>
</body>
</html>