{% extends 'base.html' %}

  {% block content %}
  <div class="app">
    <h1>User Details Page</h1><br>
    <div class="app-user">
    <h1>Yo, {{current_user.username}} customize your user details man, please</h1>
    </div>
  </div>

  <div class="bio">
    <div class="card">
      <h3 class="card-header">{{current_user.username}}</h3>
    </div>
    <div class="card-body">
      <h4 class="card-title">Bio</h4><br>
      <div class="card-text">
      <p>
      <strong>Name: </strong> {{current_user.username}}<br>
      <strong>Age: </strong> {{current_user.id}}<br>
      <strong>Location: </strong> {{current_user.email}}<br>
      <strong>Bio: </strong> {{current_user.username}}<br>
      </p>
      </div>
    </div>
  </div>
  {% endblock %}