{% extends 'base.html' %}
{% block content %}
  <div class="app">
    <h1>User Posts</h1><br>

  <div class="user-posts">
    <div class="app">
      <div class="posts-section">
          {% for post in posts %}
        <div class="posts">      
          <a href="{{ url_for('show_post', post_id=post.id) }}">  
              <h3>{{post.title}}</h3> <br>
              {% if post.image_filename %}
                <!-- <div style="display: flex; flex-direction: column;"> -->
                  <img src="{{ url_for('serve_files', filename=post.image_filename) }}">
                <!-- </div> -->
                {% else %}
                  <p>{{ post.content }}</p>
              {% endif %}
          </a>
          <div class="clear"></div>
          <button class="vote-btn {{'voted' if vote_dict.get(post.id) == 'upvote'}}" data-vote-type="upvote" type="button" data-post-id="{{ post.id }}" onclick="upvotePost(this)">Upvote</button>
          <p><span class="vote-btn" id="vote-count-{{ post.id }}">{{ post.votes }}</span></p>
          <button class="vote-btn {{ 'voted' if vote_dict.get(post.id) == 'downvote' }} " data-vote-type="downvote" type="button" data-post-id="{{ post.id }}" onclick="downvotePost(this)">Downvote</button>

        </div>
          {% endfor %}
        </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
{% block scriptsrc %}
  {{url_for('static', filename='voting_logic.js')}}
{% endblock %}