<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <titile>Vote Counter</titile>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vote.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div class="post" data-post-id="7712"
        <img class="post-image" src="timetable.jpg" alt="Post Image">
        <div class="post-rating-container">
            <div class="post-rating post-rating-selected">
                <span class="post-rating-button material-icons">thumbs_up</span>
                <span class="post-rating-count">0</span>
            </div>
            <div class="post-rating">
                <span class="post-rating-button material-icons">thumbs_down</span>
                <span class="post-rating-count">0</span>
            </div>
        </div>
    </div>
    </body>
</html>